.list-card {
  border-radius:10px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f, 0 5px 12px 4px #00000017;

  .ant-row {
    gap: 30px
  }

  .gutter-row {
    box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f, 0 5px 12px 4px #00000017;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;

    .item-value {
      color: #1677ff;
    }
  }
}