.model-form {
    .ant-modal-content{
        padding: 45px 25px 20px;
        .ant-modal-title{
            text-align: center;
        }
        .button-form{
            text-align: center;
        }
    }

}