.account-page{
  display: flex;
  justify-content: center;
  align-items: center;
  .account-form{
    width: 500px;
    background-color: white;
    padding: 20px;
    text-align: center;
  }
}
.change-password-btn{
  text-align: end;
}
.change-password-form
{
  .input-wrapper{
   flex-wrap: wrap;
   padding-bottom: 10px;
   gap: 0px;
  }
  .input-label{
    width: 170px;
  }
}